@model Slider
@{
    ViewData["Title"] = "Detail";
}


<h2>@Model.Title</h2>
<h4>@Model.SubTitle</h4>
<img src="~/img/slider/@Model.Image" />
<a asp-action="Index" class="btn btn-secondary text-white">Go Back</a>

